<div class="slds-page-header" role="banner">
  <div class="slds-media slds-media--center">
    <div class="slds-media slds-media--center">
      <div class="slds-media__figure">
        <img src="/assets/logo_salesforce.png" />
      </div>
    </div>
    <div class="slds-media__body">
      <p class="slds-page-header__title slds-truncate slds-align-middle" title="<%= title %>"><%= title %></p>
      <p class="slds-text-body--small page-header__info"><%= subTitle %></p>
    </div>
  </div>
</div>
<br />
