</script>
<script src="/javascript/force.oauth.js"></script>
<script src="/javascript/app.js"></script>
<script src="https://ibmcollab-dev-ed.my.salesforce.com/lightning/lightning.out.js"></script>
</body>
</html>
